.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 36px;
  }

  #indexBtn{
    background-color: lawngreen;
    color: white;
    width: 200px;
    border-radius: 25px;
    height: 55px;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    align-items: center;
    padding: 5px;
    padding-top: 10px;
  }
  #indexBtn2{
    background-color: lawngreen;
    color: white;
    width: fit-content;
    border-radius: 25px;
    height: 45px;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 158px;
    left: 36px;
    color: white;
  }
  
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .dropdown-item{
    color: lawngreen;
  }