
{% load bootstrap4 %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="btn-group">
            <button class="btn btn-secondary btn-sm" style="padding: 10px; border-color: lawngreen; " type="button"> <i class="fa fa-bars" style="margin: 5px;" aria-hidden="true"></i>
              MENU
            </button>
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" style="border-color: lawngreen; border-left: 0px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{%url 'index' %}">Home</a>
                {% if user.is_authenticated %}

                <a class="dropdown-item" href="{%url 'profile' %}">Profile</a>
                <a class="dropdown-item" href="{%url 'projects' %}">All Projects</a>
                <a class="dropdown-item" href="#">Submit Project</a>
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Jobs and Talent</a>
                <a class="dropdown-item" href="#">Blog</a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
              {% else %}
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/accounts/login">Login</a>
              </div>
              {% endif %}


          </div>
    </div>

    <a class="navbar-brand" style="margin-right: 25%; color: lawngreen;"  href="#">META PROJECTS REVIEWS</a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <form class="form-inline my-2 my-lg-0" action="/search" role="search" >
      <input class="form-control mr-sm-3 " type="search" placeholder="Search" aria-label="Search" style="border-color: lawngreen; margin: 4px;">
      <button class="btn btn-outline my-2 my-sm-0" type="submit" style="color: lawngreen; border-color: lawngreen;">Search</button>
    </form>

  </nav>