{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/baseprojects.css' %}">

{% block content %}
<div class="card-columns">
    {% for project in projects %}

        <div class="card" style="background-color: white;">
            <div class="card-body">
                <img style="height: 150px; height: 300px;" src="{{project.image.url}}" alt="{{project.title}}" class="card-img">
                <p id="overlay"class="text" style="justify-content: start;"> 
                    <span style="color: lawngreen; text-align: left; font-size: larger; font-weight: 600;">{{project.title}}</span><br>
                    <span style="color: lawngreen"> Country:{{project.country}}</span> <br>
                    <span style="color: lawngreen"> Developer:{{project.user.username}}</span>
                </p>
                    <a class="D-block mx-auto" style="justify-content: end;" href="">See More..</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}