{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% block content %}

    {% for project in projects %}
<div class="container-fluid" style="background-color: rgba(0, 0, 0, 0.842); padding-top: 50px;">
    <div class="container-1">
        {% if user.profile.profile_picture%}
        <img class="rounded-circle" src="{{ user.profile.profile_picture.url }}" style="width: 60px; height: 60px; margin-left: 10%; border: 2px solid lawngreen; "> 
        {% else %}
        <img class="rounded-circle" src="../../../static/images/profileavatar.jpg" style="width: 60px; height: 60px; margin-left: 10%; border: 2px solid lawngreen;"> 
        {%endif%}
        <span class="text-center" style="font-size: xx-large; font-weight: 500; color: lawngreen; margin-left: 22%;">{{ project.title }}</span>

        <br>
        <div class="container-2" style="width: 80%; margin-left: 10%; padding-top: 20px;" >
            <img src="{{project.image.url}}" alt="Snow" style="width:100%;">
        </div>
        <br>
    </div>
    <div class="container-details" style="margin-left:10%;">
        <p style="color: lawngreen;" > Developer: <span style="font-weight: 500; color: white;" >{{ project.user.username }}</span></p>
        <p style="color: lawngreen;"> Country:  <span style="font-weight: 500; color: white;">{{ project.country }}</span></p>
        <p style="color: lawngreen;" > Description: <br> <span style="font-weight: 500; color: white;" >{{ project.description }}</span></p>
        <p class="mr-5">
            <a href="{{project.user.profile.email}}"><i class="fa fa-envelope" style="color: lawngreen; margin-right: 5px; font-size:larger" ></i></a>
            <a href="{{project.user.profile.phone}}"><i class="fa fa-phone" style="color: lawngreen ; font-size:larger" ></i></a>
        </p>
    </div>
    <div class="row" style="padding-bottom: 50px;">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <a class="inline text-center" href="{{project.project_link}}" style="margin-left: 15%;">
                <li class="btn border shadow" style="font-size: 1.5rem; font-weight:800 ;" id="indexBtn2"> View Project </li>
            </a> 
        </div>
        <div class="col-md-5"></div>
    </div>

    <div class="container my-3 col-6">
        <form  action="">
            {% csrf_token %}
        <div class="h2 text-center">Ratings</div>
        <br>
        <div class="container shadow-2 my-1 border-bottom border-success">
            <label for="cus4tomRange3" class="form-label">Design</label>
            <input type="text" class="form-input" min="0" max="10" id="Design">
        </div>
        <br>
        <div class="container shadow-2 my-1 border-bottom border-success">
            <label for="cus4tomRange3" class="form-label">Usability</label>
            <input type="text" class="form-input" min="0" max="10" id="Usability">
        </div>
        <br>
        <div class="container shadow-2 my-1 border-bottom border-success">
            <label for="customRange3" class="form-label">Content</label>
            <input type="text" class="form-input" min="0" max="10" id="Content">
        </div>
        <br>
        <div class="form-group mx-auto my-3 d-flex justify-content-center">
            <button class="btn  btn-lg btn-block fw-bold" type="submit" style="background-color: lawngreen;" >Rate Project</button
            >
        </div>
        </form>
        <br>
    </div>

</div>
  {% endfor %}
{% endblock content%}